.profile {
  height: calc(100vh - 46px);
  overflow-y: scroll;
  padding: 70px 60px 30px 60px;
  margin-top: -70px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  grid-template-areas: 'host residents residents residents';
  background-image: linear-gradient(
    90deg,
    #d0ff4c33 calc(((100vw - 90px - 120px) / 4) + 60px),
    #ff6bcd calc(((100vw - 90px - 120px) / 4) + 60px + 1px),
    transparent calc(((100vw - 90px - 120px) / 4) + 60px + 1px)
  );
}

.profile__host {
  grid-area: host;
  padding-right: 30px;
}

.profile__host .title {
  font-family: var(--accent-font);
  text-align: left;
}

.profile__host-img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5% 30%;
  position: relative;
}

.profile__host-img-edit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(2px);
  background-image: url(../../assets/change-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: url(../../assets/flower-fill.svg) 12 12, auto;
}

.profile__host-img-edit:hover {
  box-shadow: 0 0 15px 2px var(--pink);
}

.profile__host-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.profile__host-info-item {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.profile__host-info-label {
  font-size: 16px;
}

.profile__btn-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.profile__button {
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 30px;
  border: solid 1px var(--natural-green);
  background-color: #fffcf199;
  cursor: pointer;
  text-wrap: nowrap;
}

.profile__button:hover {
  background-color: var(--vibrant-green);
}

.profile__residents {
  grid-area: residents;
}

@media (width <= 1200px) {
  .profile {
    grid-template-columns: repeat(3, 1fr);
    background-image: linear-gradient(
      90deg,
      #d0ff4c33 calc(((100vw - 90px - 120px) / 3) + 60px),
      #ff6bcd calc(((100vw - 90px - 120px) / 3) + 60px + 1px),
      transparent calc(((100vw - 90px - 120px) / 3) + 60px + 1px)
    );
  }
}

@media (width <= 900px) {
  .profile {
    height: calc(100vh - 60px);
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    background-image: none;
    padding: 60px 30px 30px 30px;
  }

  .profile__host {
    background-color: #d0ff4c33;
    padding: 30px;
    margin: -50px -30px 0 -30px;
  }
}
