.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  position: relative;
  width: 100%;
  max-width: 500px;
  align-self: center;
}

.form__title {
  font-family: var(--accent-font);
  width: 100%;
}

.form__select-wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

/* custom arrow */
.form__select-wrapper::after {
  --size: 0.3rem;
  position: absolute;
  content: '';
  right: 20px;
  pointer-events: none;
}

.form__select-wrapper::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--natural-green);
  top: 48%;
}

.form__select,
.form__input {
  position: relative;
  /* hide default arrow */
  appearance: none;
  width: 100%;
  padding: 10px 40px 10px 20px;
  background-color: var(--light);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.form__select:focus-visible,
.form__select:active,
.form__input:focus-visible,
.form__input:active {
  outline: 1px solid var(--natural-green);
}

.form__select-default-option,
.form__select-options_hidden {
  display: none;
}

.form__select-options_shown {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--light);
  border: none;
  border-radius: 10px;
  z-index: 1;
}

.form__select-option {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  font-family: var(--accent-font);
  cursor: pointer;
}

.form__select-option:hover {
  padding: 10px 20px;
  background-color: #d0ff4c33;
}

.form__select-option-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.form__button {
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 30px;
  border: solid 1px var(--natural-green);
  background-color: #fffcf199;
  cursor: pointer;
  text-wrap: nowrap;
}

.form__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.form__button:hover {
  background-color: #fffcf1;
  color: var(--natural-green);
}

.form__button_alt-option:hover {
  color: var(--pink);
}

.form__error {
  font-size: 16px;
  width: 100%;
  color: var(--pink);
}

.form__resident-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 30px;
}

.form__btn-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.form__edit {
  font-size: 14px;
  background-color: transparent;
  padding: 4px 8px;
  align-self: center;
  border: 1px solid var(--natural-green);
  border-radius: 20px;
}

.form__edit:hover {
  background-color: var(--natural-green);
  color: var(--light);
}

.form__edit_image {
  position: absolute;
  top: 60px;
  left: 20px;
}

.form__author-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

