.form__resident-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 30px;
}

.form__btn-container {
    display: flex;
    gap: 10px;
}

.form__edit {
    font-size: 14px;
    background-color: transparent;
    padding: 4px 8px;
    align-self: center;
    border: 1px solid var(--natural-green);
    border-radius: 20px;
}

.form__edit:hover {
    background-color: var(--natural-green);
    color: var(--light);
}

.form__edit_image {
    position: absolute;
    top: 20px;
    left: 20px;
}

.form__author-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}