.toolbar {
  background-color: var(--vibrant-green);
  min-width: 50%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  align-self: end;
  justify-self: end;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 5px 30px 0 rgba(160, 211, 13, 0.7);
}

.toolbar__button {
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 30px;
  border: solid 1px var(--natural-green);
  background-color: #fffcf199;
  cursor: pointer;
  text-wrap: nowrap;
}

.toolbar__button:hover {
  background-color: #fffcf1;
}

.toolbar__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.toolbar__button-tip {
  position: absolute;
  bottom: 45px;
  background-color: var(--light);
  color: var(--natural-green);
  padding: 5px 10px;
  border-radius: 10px;
  display: none;
}

@media (width <= 1200px) {
  .toolbar {
    gap: 20px;
  }
}

@media (width <= 900px) {
  .toolbar {
    height: 60px;
    gap: 10px;
  }

  .toolbar__button {
    gap: 5px;
    padding: 5px 15px;
  }
}

@media (width <= 480px) {
  .toolbar__button-text {
    display: none;
  }

  .toolbar__button:hover .toolbar__button-tip {
    display: block;
  }
}
