.toolbar {
  background-color: var(--vibrant-green);
  min-width: 50%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  align-self: flex-end;
  border-radius: 40px 40px 0 0;
  box-shadow: 0 5px 30px 0 rgba(160, 211, 13, 0.7);
}

.toolbar__button {
    padding: 5px 20px;
    border-radius: 30px;
    border: solid 1px var(--natural-green);
}
