:root {
  --light: #fffcf1;
  --dark: #21201c;
  --pink: #ff6bcd;
  --vibrant-green: #d0ff4c;
  --natural-green: #a0d30d;
  --base-font: 'Urbanist', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  --accent-font: 'ShantellSans', 'Times New Roman', Times, serif;
}

* {
  padding: 0;
  margin: 0;
  color: var(--dark);
  font-family: var(--base-font);
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.4;
  scroll-behavior: smooth;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--light);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100vw;
}

@media (width <= 480px) {
  * {
    font-size: 16px;
  }
}
